/* colors */
:root {
    --white: #ffffff;
    --blue-background: #8996A6;
    --green-background: #849D8F;
    --brown-background: #9D8B84;
    --orange-gradient-main: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-gradient-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --raspberry-color: #981a3c;
    --chocolate-color: #45200c;
    --waffle-color: #eee2ca;
    --dark-grey:#323232;
    --light-grey:#5A5A5A;
    --grey-radio: #ABABAB;
    --light-link-orange:#FFBC9E;
    --dark-link-orange: #E84D37;
    --menu-link-active: #EDEDED;
    --main-orange:#D07058;
    --opasity-white-main:rgba(255, 255, 255, 0.2);
    --opasity-white-footer:rgba(255, 255, 255, 0.8);
    --opasity-white-toggle: rgba(255, 255, 255, 0.4);
    --opasity-border: rgba(178, 178, 178, 0.52)
}

/* fonts */

@font-face { 
    font-family: "Roboto";
    src: local("Roboto"),
         url(/fonts/roboto.woff2) format("woff2"), 
         url(/fonts/roboto.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: "Roboto-medium";
    src: local("Roboto"),
         url(/fonts/robotomedium.woff2) format("woff2"), 
         url(/fonts/robotomedium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face { 
    font-family: "Roboto-bold";
    src: local("Roboto"),
         url(/fonts/robotobold.woff2) format("woff2"), 
         url(/fonts/robotobold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

*, *::before, *::after { 
    box-sizing: border-box; 
    outline: none;
}

/* styles*/

.page {
    position: relative;
    height: 100%;
    width: 100%;
  }

.page__body {
    position: relative;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
  }

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    color: var(--white);
    background-color: var(--green-background);
}

img { 
    max-width: 100% 
}

a { 
    display: inline-block;
    text-decoration: none;
    color: var(--white);
}

.page__header {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
}

.header__logo {
    width: 154px;
    height: 64px;
    margin: 0 auto;
}

.header__nav_list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    list-style-type: none;
}

.header__nav_link a {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    float: left;
}

.header__nav_link a:hover {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px; 
    color: var(--dark-grey);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    height: fit-content;
    background-color: var(--white);
    border-radius: 26px;
}

.header__nav_link a:active {
    background: var(--menu-link-active);
    box-shadow: inset 0px 2px 1px #696969;
}

.header__nav_button {
    display: flex;
    justify-content: flex-end;

}

.header__nav_button p {
    display: inline-flex;
}

.header__nav_button p {
    padding-left: 10px;
}


.header__nav_button_search {
    position: relative;
    background-color: var(--opasity-white-main);
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header__nav_button_login {
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    width: 92px;
    height: 32px;
    background-color: var(--opasity-white-main);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header__nav_button_basket {
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    background-color: var(--opasity-white-main);
    width: 100px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header__nav_button_search:hover, .header__nav_button_login:hover, .header__nav_button_basket:hover  {
    background-color: var(--white);
    color: var(--dark-grey);
    fill: var(--dark-grey);
}

.header__contacts {
    grid-row: 2 / 4;
    grid-column: -1 / -2;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: end;

}

.header__contacts a {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: inherit;
}
.header__contacts a:hover, .header__contacts a:active {
    color: var(--light-link-orange);
}

.main__banner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "t b .";
    justify-items: center;
    text-align: center;
}

.main__banner_icecream-left {
    grid-area: b;
    justify-self: start;
    z-index: 1;
}

.main__banner_icecream-right {
    grid-area: b;
    justify-self: end;
    align-self: end;
}

.main__banner_title {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    grid-area: b;
    z-index: 2;
    align-self: end;
    width: 672px;
    height: min-content;
    margin-bottom: 130px;
}

.main__banner_button {
    background: var(--orange-gradient-main);
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    width: 278px;
    height: 63px;
    color: var(--white);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 50px;
    grid-area: b;
    z-index: 2;
    align-self: end;
    margin-bottom: 40px;
}

.main__banner_button:hover {
    background: var(--orange-gradient-hover);
}

.main__banner_button:active {
    background: var(--orange-gradient-active);
}

.main__banner_toggle {
    grid-area: t;
    justify-self: start;
    align-self: end;
    display: flex;
    justify-content: space-between;
}

.toggle__circle {
    width: 21px;
    height: 21px;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 45px;
}

.toggle__circle:hover {
    background-color: var(--opasity-white-toggle);
}

.main__articles {
    justify-items: center;
}

.main__article_title {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.article_1 {
    background-color: var(--raspberry-color);
    width: 560px;
    min-height: 230px;
    height: min-content;
    padding: 15px;
    background-image: url(/img/raspberry-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.article_2 {
    background-color: var(--chocolate-color);
    width: 560px;
    min-height: 230px;
    height: min-content;
    padding: 15px;
    background-image: url(/img/chocolate-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.main__article_description {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.main__article_button, .main_mailing_button, .main__maps_button {
    background: var(--orange-gradient-main);
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    width: max-content;
    padding: 0 20px;
    height: 48px;
    border-radius: 70px;
    text-align: center;
}

.main__article_button:hover, .main_mailing_button:hover, .main__maps_button:hover {
    background: var(--orange-gradient-hover);
}

.main__article_button:active, .main_mailing_button:active, .main__maps_button:active {
    background: var(--orange-gradient-active);
}


.main__catalog_list, .catalog__list {
    list-style-type: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 25px;
    text-align: center;
    position: relative;
    width: 1146px;
    height: min-content;
}

.main__catalog_item, .catalog__item {
    position: relative;
    width: 267px;
    height: 324px;
}

.hit_background {
    background-color: var(--white);
    border-radius: 50%;
    height: 61px;
    width: 61px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 15px 0;
}

.item_img {
    width: 267px;
    height: 267px;
    border-radius: 50%;
    overflow: hidden;
}

.item_price {
    width: 162px;
    height: min-content;
    position: absolute;
    z-index: 1;
    top: 217px;
    left: 0;
}
.item_number {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.item_scale {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0;
}

.main__advantages {
    background-color: var(--waffle-color);
    background-image: url(/img/waffle-background.jpg);
    background-repeat: repeat;
    background-size: contain;
    margin: 0 auto;
    width: 1146px;
    height: max-content;
    padding: 20px;
    border-radius: 16px;
    margin: 40px 0 40px 0;
    gap: 25px;
    justify-content: start;
    
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.main__advantages_title {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-grey);
    grid-column: 1 / -1;
}

.main__advantages_icon {
    height: 49px;
    width: 49px;
    border: 2px solid #323232;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__advantages_description {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-grey);
    display: grid;
    grid-template-columns: 1fr auto;
}

.main__advantages_description p, h3 {
    margin: 0;
}

.main__news {
    background-color: var(--white);
    background-image: url(/img/strawberry-background.jpg);
    background-repeat: no-repeat;
    width: 560px;
    min-height: 220px;
    height: min-content;
    border-radius: 16px;
    padding: 20px;
    justify-content: start;
}

.main__news_text {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-grey);
    margin: 0 0 5px 0;
}

.main__news_link {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: var(--dark-grey);
}

.main__news_link:hover, .main__news_link:active {
    color: var(--dark-link-orange);
}

.mail_background {
    background-image: url(/img/mail-background.jpg);
    width: 560px;
    min-height: 220px;
    height: min-content;
    padding: 5px;
    border-radius: 16px;
    
}

.main_mailing_description {
    background-color: var(--white);
    width: 548px;
    min-height: 210px;
    height: min-content;
    border-radius: 16px;
    padding: 20px;
    justify-content: start;
    margin: 0 auto;
    border-radius: 16px;
}

.main_mailing_description {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--light-grey);
}

.main_mailing_input {
    width: 368px;
    height: 44px;
    border: 1px solid var(--opasity-border);
    border-radius: 6px;
    padding: 15px;
}

.main_mailing_input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main_mailing_input:focus {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.main__maps {
    margin-top: 40px;
    position: relative;
    width: 1200px;
    height: 430px;
    
    
}

.main__maps_contacts {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-grey);
    background-color: var(--white);
    width: 303px;
    max-height: 430px;
    border-radius: 16px;
    position: absolute;
    right: 25px;
    top: 63px;
    padding: 25px 30px;
}

.main__maps_contacts_text {
    margin: 0;
}

.main__maps_adress, .main__maps_tel {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--dark-grey);
}

.main__maps_adress {
    margin: 0 0 30px 0;
}

.main__maps_tel {
    margin: 5px 0 0 0;
}

.main__maps_tel:hover, .main__maps_tel:active {
    color: var(--dark-link-orange);
}

.main__maps_button {
    margin-top: 30px;
}

.main__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials_list, .footer__nav_list{
    list-style-type: none;
    display: flex;
}

.footer__socials_link {
    margin-right: 10px;
}

.footer__nav_list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: start;
    margin-right: 30px;
}

.footer__nav_link:nth-child(3) {
    margin-left: 16px;
    margin-right: 14px;
}

.footer__nav_link {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    margin-right: 30px;
    min-width: 160px;
}

.footer__nav_link:first-child {
    font-weight: bold;
}

.footer__nav_link a:hover, .footer__nav_link a:active {
    color: var(--light-link-orange);
}

.footer__roots_info {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.footer__roots_logo {
    margin-top: 15px;
}

/* catalog.html */

.header__nav_link_active a{
    background-color: var(--main-orange);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    height: fit-content;
    border-radius: 26px;
}

.header__bread-crumbs_list {
    list-style-type: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}

.header__bread-crumbs_item a:hover, .header__bread-crumbs_item a:active {
    color: var(--light-link-orange);
}

.main__catalog_title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.main___catalog_sort, .main___catalog_price-diapazone, .main___catalog_fatness, .main___catalog_ingredients {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.catalog_sort_title {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.main___catalog_filtres_button {
    width: 144px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--opasity-white-main);
    border: 2px solid var(--white);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.main___catalog_filtres_button:hover {
    color: var(--dark-grey);
    background-color: var(--white);
}

.main___catalog_filtres_button:active {
    color: var(--dark-grey);
    background-color: var(--menu-link-active);
    box-shadow: inset 0px 2px 1px #696969;
    border: none;
}

.catalog__sort {
    width: 196px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--opasity-white-main);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    border: none;
}

.catalog__sort option {
    color: var(--dark-grey);
}

.catalog__sort:hover {
    color: var(--dark-grey);
}

.catalog__range {
    display: inline-block;
    -webkit-appearance: none;
    width:176px;
    height:0px;
    outline : none;
    border:2px solid rgba(248, 247, 244, 0.5);
}

.catalog__range_background {
    width: 218px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--opasity-white-main);
}

.catalog__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background:var(--white);
    border-radius:50%;
    cursor:pointer;
    transition:.1s;
}

.catalog__radio {
    position: relative;
    width: 425px;
    height: 36px;
    background-color: var(--opasity-white-main);
    border-radius: 20px;
}

.catalog__radio_input {
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
}

.catalog__radio_label {
    padding-left: 37px;/* отступ слева */
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    font-weight: 500;
    color: var(--white);
    cursor: pointer; /* курсор рука */
    position: relative;
    margin-left: 10px;
}

.catalog__radio_label::before {
    content: "";
    display: block; /* не в строку */
    width: 22px; /* ширина блока */
    height: 22px;/* высота блока */
    background-color: transparent; /* цвет фона */
    border: 3px solid var(--opasity-white-footer);
    border-radius: 50%;/* получаем круг */
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
      z-index: 1; /* на нижнем слое */
    transition: border .1s linear;/* плавный переход для border */
}

.catalog__radio_label::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--opasity-white-footer);
    border-radius: 50%;
    opacity: 0; /* полностью прозрачный */
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;/* на верхнем слое */
    transition: opacity .1s linear; /* плавный переход для opacity */
}

.catalog__radio_input:checked + .catalog__radio_label::before {

    border-color: var(--white);

}

.catalog__radio_input:checked + .catalog__radio_label::after {
    opacity: 1;
}

.catalog__checkbox {
    position: relative;
    width: 711px;
    height: 36px;
    background-color: var(--opasity-white-main);
    border-radius: 20px;
}

.catalog__checkbox_input{
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные боксы */
    position: relative;
}

.catalog__checkbox_label {
    padding-left: 37px;/* отступ слева */
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    font-weight: 500;
    color: var(--white);
    cursor: pointer; /* курсор рука */
    position: relative;
    margin-left: 10px;
}

.catalog__checkbox_label::before {
    content: "";
    display: block; /* не в строку */
    width: 24px; /* ширина блока */
    height: 20px;/* высота блока */
    background-image: url(/img/checkbox-off.svg);
    fill: var(--opasity-white-footer); /* цвет фона */
    background-repeat: no-repeat;
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
    z-index: 1; /* на нижнем слое */
}

.catalog__checkbox_label::after {
    content: "";
    display: block;
    background-image: url(/img/checkbox-on.svg);
    fill: var(--opasity-white-footer);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;/* на верхнем слое */
}

.catalog__checkbox_input:checked + .catalog__checkbox_label::before {

    background-image: url(/img/checkbox-on.svg);

}

.catalog__checkbox_input:checked + .catalog__checkbox_label::after {
    background-image: url(/img/checkbox-off.svg);
}

.catalog__pagination {
    display: flex;
    justify-content: end;
    width: min-content;
    height: 26px;

}

.catalog__pagination_list {
    list-style-type: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.catalog__pagination_item a {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    float: left;
}

.catalog__pagination_item_active a {
    background-color: var(--white);
    color: var(--dark-grey);
}

.catalog__pagination_item a:hover {
    background-color: var(--opasity-white-main);
}